
ion-segment-button {
  background-color: var( --ion-color-dark ) !important;
  color: white !important;
  // text-transform: lowercase;
}

.segment-button-checked {
  color: var( --ion-color-primary ) !important;
}